{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}
<link rel="shortcut icon" href="/assets/images/favicon.ico" />
<link href="/assets/css/fontawesome.css" rel="stylesheet" />
<link href="/assets/css/brands.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/lightgallery@2.8.3/css/lightgallery-bundle.min.css" rel="stylesheet">
<script src="https://js.churchcenter.com/modal/v1"></script>
